.myModal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  background: rgba(0, 0, 0, .5);
}

.myModalContent {
  padding: 25px;
  border-radius: 1rem;
  min-width: 15rem;
  background: white;
  border: 1px solid teal;
}

.myModal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}